// do le caratteristiche generali

@use './partials/variables' as *;
@use './partials/mixins' as *;


*{
    @include reset;
}

ul li{
    list-style: none;
}

// header
a{
    color: $textColor;
    text-decoration: none;
}


// main
main{
    background-color: $black;
    h2{
        color: $white;
    }
}

// footer
footer section.upper-footer li{
    color: $textColor;
    text-decoration: none;
}



