// do le caratteristiche generali

@use './partials/variables' as *;
@use './partials/mixins' as *;


*{
    @include reset;
}

// header
a{
    color: $textColor;
}


// main
main{
    background-color: $black;
    h2{
        color: $white;
    }
}



